.blog-div{
    display: flex;
    flex-direction: column;
    background:#f6f9fd;
    justify-content: center;
    align-items: center;
    text-align: start;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-ic{
    display: flex;
    flex-direction: column;
    align-items:start !important ;
    justify-content: start;
    text-align: start;
    width: 90%;
    max-width: 1350px;
    background: white;
    color: #181e2a;
    padding: 2%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h1{
        font-size: 27px;
        line-height: 1.4;
        font-style: normal;
        word-wrap: break-word;
        color: #181e2a;
       

    }

    p{
        
        font-size: 17px;
        line-height: 1.6;
        font-weight: normal;
        font-style: normal;
        color: #323740;
    }

    h2{
        text-align: start;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.4;
        margin-top: 25px;
        margin-bottom: 0px;

    }

    span{
      font-weight: 700;
    }

    li{
      font-size: 17px;
      line-height: 1.6;
      font-weight: normal;
      font-style: normal;
    }
}

.greenText{
    font-size: 11.9px;
    color: #26A31D;
    text-transform: uppercase;

}

.logo-div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width: 100%;
    gap: 5px;

    img{
        width: 25px;
        height: 25px;
        border-radius: 100%;
    }

    span{
        color: #2D3748;
        font-size: 13.6px;
        line-height: 1.6;
        font-weight: normal;
        font-style: normal;
    }
}

.spanBold{
    font-weight: 700;
}

.accordion {
  border: 1px solid #ffffff;
  border-radius: 5px;
  width: 100%;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  align-items: start;
  color: #181e2a;
  margin-top: 30px;

  .accordion-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.5%;
      cursor: pointer;
      background-color: #ffffff;
      font-weight: bold;
      color: #181e2a;

      span {
          font-size: 18.7px;
          color: #2D3748;
          font-weight: 700;
      }

      .arrow {
          font-size: 14px;
          transition: transform 0.3s ease;
      }

      .open {
          transform: rotate(180deg); 
      }
  }

  .accordion-content {
      max-height: 0;
      transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
      padding: 0 15px;
      background-color: #fff;
      color: #181e2a;
      overflow: hidden; /* Overflow gizli */

      ul {
          margin: 0;
          padding: 10px 0;
          list-style-type: disc;
          color: #181e2a;
      }

      li {
          padding: 8px 0;
          border-bottom: 1px solid #eee;
          font-size: 17px;
          color: #181e2a;
          background: #26A31D;
      }
  }

  .accordion-content.open {
      max-height: 300px; /* Yeterince büyük bir değer verin */
      padding: 15px;
      background: #1A202C;
      overflow: visible; /* İçerik açıldığında görünmesini sağlar */
  }
}

  .liAccordion {
    padding: 8px 0;
    border-bottom: 1px solid #eee;
    font-size: 17px;
    color: #181e2a !important;
    
  }

  .divLineLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .line{
    display: flex;
    width: 45%;
    height: 1px;
    background:#a1adbf;
  }

  .textLogo{
    font-size: 20.4px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #2D3748;
  }

  .line2{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    height: 1px;
    background:#a1adbf;
  }

  .divGreen{
    display: flex;
    flex-direction: column;
    background: #26A31D;
    width: 100%;
    height: min-content;
  }

  .spanLink{
    color: #26A31D;
    text-decoration: underline;
  }

  .imgDiv{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .starDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: start;
    margin-top: 30px;
    margin-bottom: 30px;
    gap:15px;
    
  }

  .pageDetails-div1 {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    text-align: center; 
    padding: 20px;
  
    .pageDetails-p {
      font-size: 24px; 
      margin-top: 40px;
      margin-bottom: 40px; 
      color: #181e2a; 
      font-weight: bold; 
      display: block; 
    }
  
    .pageDetails-Link {
      font-size: 18px; 
      margin-top: 50px;
      color: #26A31D; 
      text-decoration: underline; 
      cursor: pointer; 
      display: block; 
    }
  }
  