.breadcrumb {
    list-style: none;
    display: flex;
    padding: 0;
  }
  
  .breadcrumb-item {
    margin-right: 5px;
  }
  
  .breadcrumb-item a {
    text-decoration: none;
    color: #4A5568;
    font-size: 14.45px;
  }
  
  .breadcrumb-item.active {
    color: #4A5568;
    text-transform: capitalize;
    font-size: 14.45px;
    
  }
  
  .breadcrumb-item::after {
    content: '>>';
    margin-left: 5px;
  }
  
  .breadcrumb-item:last-child::after {
    content: '';
  }