.flip-flop-section {
  display: flex;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 80px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    h2{
      font-size: 32px;
      font-weight: bold;
      line-height: 1.4;
    }
  }
  
  .carousel {
    @media (max-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px; 
      justify-items: center;
      align-items: center;
      width: 90%;
    }

    @media (min-width: 1024px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 15px; 
      justify-items: center;
      align-items: center;
      width: 95%;
      max-width: 1440px;
    }

    @media (max-width: 769px) {
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15px;
    width: 90%; 
    height: auto;

    }
  }
  
  .card {
    width: 100%;
    height: 300px;
    margin: 0; 
    perspective: 1000px;
    object-fit: cover;
  }
  
  .card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1.3s;
    transform-style: preserve-3d;
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  
  .card-front,
  .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .card-front img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-back {
    background-color: #f8f8f8;
    transform: rotateY(180deg); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    color: #fff;
  }

  .card-back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }
  
  .card-back-content {
    transform: rotateY(0deg);
    z-index: 10;
  }
  
  .card-back h3,
  .card-back p {
    z-index: 10;
    margin: 10px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }

  .card-back h3{
    font-size: 24px;
    font-weight: 700;
  }

  .card-back p{
    font-size: 17px;
    line-height: 1.6;
    font-weight: normal;
  }

  .greenEffect{
    position: absolute;
    inset: 0;
    z-index: 1;
    background: rgba(0, 152, 24, .64); //#009818A3;
  }

  .slide-up {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .slide-up.show {
    opacity: 1;
    transform: translateY(0);
  }
  