.footer-main {
    display: flex;
    width: 100%;
    gap: 2px;
    background-color: #2C3440;
    

    @media (max-width: 1024px) { 
        flex-direction: column; 
      }

      @media (min-width: 1024px) {
        flex-direction: row; 
      }
}

.div-bir {
    
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;

    @media (max-width: 1024px) { 
        width: 98%;
      }

      @media (min-width: 1024px) { 
        width: 25%; 
      }

    a {
        width: 100%;
        height: 20%;
        align-items: center;
        object-fit: cover;

        

        img {    
            object-fit: cover;

            @media (max-width: 1024px) { 
                height: 40%;
                width: 40%;
              }
        
              @media (min-width: 1024px) { 
                width: 100%;
                height: 100%;
              }
        }
    }
    

    p {
        color: white;
        font-size: 17px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    div {
        display: flex;
        height: auto;
        gap: 10px;
        
        align-items: center;
        
    }

    .social-icons {
        height: 100px;
        display: flex;
        gap: 10px;  
    }
    
    .icon {
        padding: 10px;
        border-radius: 50%; 
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }
    
    .whatsapp {
        background-color: #25D366;
        color: #fff;
    }
    
    .instagram {
        background-color: #C13584;
        color: #fff;
    }
    
    .facebook {
        background-color: #4267B2;
        color: #fff;
    }
    
    .twitter {
        background-color: #1DA1F2;
        color: #fff;
    }
    
    .youtube {
        background-color: #FF0000;
        color: #fff;
    }

    .linkedln{
        background-color: #0077B5;
        color: #fff;
    } 
    
    .icon:hover {
        opacity: 0.8; 
    }

    section {
        display: flex;
        gap: 10%;
        padding: 5%;
        justify-content: center;
        align-items: center;
        white-space: nowrap;

        a {
            display: flex;
            padding: 2% 10%;
            font-size: 17px;
            width: 100%;
            height: 100%;
            text-decoration: none;
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            object-fit: cover;
            border-radius: 20px;
        }

        .button-basvuru {
            background-color: #22872B;

            &:hover {
                background-color: #218838;
            }
            
        }

        .button-kolay {
            background-color: #F4780A;

            &:hover {
                background-color: #e36d0e; 
            }
        }

    }
}    
    

.div-iki {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: start;

    @media (max-width: 1024px) { 
        width: 98%;
      }

      @media (min-width: 1024px) { 
        width: 25%; 
      }

    h3 {
        color: white;
        margin-right: 15%;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.7;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ul {
        
        color: white;
        font-size: 17px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        li {
            padding: 5px;
            list-style-type: disc;
            list-style-position: inside;
            list-style-position: outside;
            text-indent: -15px;
            padding-left: 30px;
            cursor: pointer;

            a{
                color: white;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }


}

.div-uc {
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;

    @media (max-width: 1024px) { // Tablet boyutu
        width: 98%;// Tablet ve üzeri ekranlar için row düzeni
      }

      @media (min-width: 1024px) { // Tablet boyutu
        width: 25%; // Tablet ve üzeri ekranlar için row düzeni
      }

    h3 {
        color: white;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.7;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    ul {
       
        color: white;
        font-size: 17px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

        li {
            padding: 5px 0; /* Üst ve alt boşluk */
            list-style-type: disc; /* Nokta işaretleyici */
            list-style-position: inside; /* Noktanın metin hizasında olması */
            cursor: pointer;

            a{
                color: white;
                text-decoration: none;
            }

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.div-dort {
    display: flex;
    flex-direction: column;
    gap: 2px;
    justify-content: center;
    align-items: center;
    background-color: #364154;
    height:max-content;

    @media (max-width: 1024px) { // Tablet boyutu
        width: 98%;// Tablet ve üzeri ekranlar için row düzeni
      }

      @media (min-width: 1024px) { // Tablet boyutu
        width: 25%; // Tablet ve üzeri ekranlar için row düzeni
      }
    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    h2 {
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 21px;
        
    }

    p {
        font-size: 17px;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .button-oku {
        background-color: #4a5568;
        padding: 10px 20px;
        border-radius: 1px;
        align-self: flex-start;
        color: white;
        font-size: 14px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        text-decoration: none;
        cursor: pointer;
        transition: 0.3s;

        
    }

}