.hidden-header {
    width: 100%;
    background-color: #24A31D;
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;

    @media (max-width: 1024px) {
        height: 36px;
      }

      @media (min-width: 1024px) {
        height: 67px;
      }

    img {
        width: 100%;
        height: 5vh;
        margin-left: 60%;
        @media (max-width: 1024px) {
            margin-left: 10%;
            width: 90px;
            height: auto;
          }
    }

    nav {
        display:flex;
        position: absolute;
        right: 50%;
        transform:translateX(50%);
        gap:20px;
        @media (max-width: 1024px) {
            right: 120px;
            gap:10px;
          }
    }

    nav a {
        color: white;
        text-decoration: none;
        width: 17px;
        height: 17px;

        @media (min-width: 1024px) {
          width: 28px;
          height: 28px;
          }
    }

    div {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        color: white;
        text-decoration: none;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      }

      .button1 {
          display: none;
          
          align-items: center;
          text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #24A31D;
        padding: 1.5% 6%;
        border-radius: 40px;
        font-weight: 300;
        font-size: 1.125rem;
        line-height: 1.6;
        cursor: pointer;
        text-transform: uppercase;
        border: 1px solid white;
        transition-duration: .5s;
        @media (min-width: 1024px) {
            display: flex;
          }

        

            &:hover {
                background-color: darkgreen;
                transition-duration: .5s;
            }
        }

        .button2 {
        display: none;
        align-items: center;
        text-align: center;
        text-decoration: none;
        color: #fff;
        background-color: #F4780A;
        font-weight: 300;
        font-size: 1.125rem;
        padding: 1.5% 6%;
        border-radius: 40px;
        cursor: pointer;
        white-space: nowrap;
        text-transform: uppercase;
        border: 2px solid white;
        transition-duration: .5s;

        @media (min-width: 1024px) {
            display: flex;
          }
            &:hover {
                box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
                transition-duration: .5s;
            }
        }
    }

    .instagramicon{
        display: flex;
        width: 17px;
        height: 17px;

        @media (min-width: 1024px) {
            width: 22.09px;
            width: 22.09px;
          }
    }

    .phone{
        display: flex;
        width: 14.57px;
        height: 14.57px;

        @media (min-width: 1024px) {
            width: 22.09px;
            width: 22.09px;
          }
    }

    .youtube{
        display: flex;
        width: 17px;
        height: 11.95px;

        @media (min-width: 1024px) {
            width: 22.09px;
            height: 15.53px;
          }
    }