.sticky-header-activeuser {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  background-color: black;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  transition: background-color 0.3s ease, height 0.3s ease;

  img {
    width: 100%;
    height: 8vh;
    transition: height 0.3s ease;
  }

  nav {
    white-space: nowrap;
    @media (min-width: 1024px) {
      display: flex;
    }
    display: none;


    a {
     display: flex;
      color: white;
      text-decoration: none;
      padding: 10px;
      font-size: 17px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: color 0.3s ease;
      border-radius: 10px;

      &:hover {
        color: black;
        background-color: white;
      }
    }
  }
}

.sectionHeader{
  display: flex;
  width: 100%;
  max-width: 1440px;
  padding: 10px 40px; 
  justify-content: space-between;
  align-items: center;
}

.sticky-header {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  // padding:10px 0px;

  @media (min-width: 1024px) {
    justify-content: center;
  }
  
  background-color: #f3f3f3;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  transition: background-color 0.3s ease, height 0.3s ease;

  img {
    width: 100%;
    height: 7vh;
    transition: height 0.3s ease;
    // @media (min-width: 1024px) {
    //   margin-left: 60%;
    // }
  }

  nav {
    white-space: nowrap;
    @media (min-width: 1024px) {
      display: flex;
    }
    display: none;

    a {
      display: flex;
      color: black;
      text-decoration: none;
      padding: 10px;
      font-size: 17px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: color 0.3s ease;

      &:hover {
        color: green;
      }
    }
  }
}


.is-sticky {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #26a31c;
  position: sticky; 
  top: 0; 
  z-index: 1000; 
  transition: background-color 0.3s ease, height 0.3s ease;

  @media (min-width: 1024px) {
    justify-content: center;
  }

  img {
    width: 100%;
    height: 8.5vh;
    transition: height 0.3s ease;

  }

  nav {
    @media (min-width: 1024px) {
      display: flex;
    }
    display: none;
    white-space: nowrap;

    a {
    display: flex;
      color: white;
      text-decoration: none;
      padding: 10px;
      font-size: 17px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      transition: color 0.3s ease;

      &:hover {
        color: green;
      }
    }
  }
}

.is-panel-header {
  background-color: black;

  img {
    height: 6vh; 
  }

  nav a {
    color: white; 

    &:hover {
      color: lightgreen; 
    }
  }
}

/* Sidebar stilleri */
.sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 90%;
  height: 100%;
  color: white;
  z-index: 1000;
  transition: left 0.3s ease;
  background-color: #080c0f;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  &.open {
    left: 0; /* Sidebar açık olduğunda ekranın solunda yer alır */
  }

  .sidebar-content {
    padding: 15px 10px;

    .close-btn {
      background-color: transparent;
      color: white;
      font-size: 20px;
      border: none;
      cursor: pointer;
      margin-bottom: 60px;
    }

    nav {
      display: flex;
      flex-direction: column;
      gap: 25px;
      padding: 45px 30px;
      text-transform: uppercase;
      text-align: start;
      align-items: start;
      justify-content: center;

      a{
        color: #fff;
        text-decoration: none;
        font-size: 15px;
        
      }
    }
  }
}

.line{
  display: flex;
  height: 1px;
  width: 100%;
  background: #212528;
}

.button1side {
  text-decoration: none;
  color: #fff;
  background-color: #24A31D;
  padding: 20px 40px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 32px;
  border: none;
  transition-duration: .5s;
      &:hover {
          background-color: darkgreen;
          transition-duration: .5s;
      }
  }

  .button2side {
  text-decoration: none;
  color: #fff;
  background-color: #F4780A;
  padding: 20px 40px;
  border-radius: 32px;
  font-weight: 400;
  font-size: 40px;
  border: none;
  transition-duration: .5s;

      &:hover {
          box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
          transition-duration: .5s;
      }
  }

  .mobile-icons{
    display: none; /* Mobil için ikonları gizliyoruz */

    @media (max-width: 1023px) {
      display: flex;
      width: fit-content;
      justify-content: center;
      align-items: center;
    }
  }