.page-container {
    padding: 2rem;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .page-title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  .component {
    display: flex;
    width: 100%;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4a90e2;
    padding: 1rem 2rem;
    border-radius: 8px;
    color: white;
    
  
    &-logo {
      max-height: 50px;
    }
  
    &-menu ul {
      list-style: none;
      display: flex;
      gap: 2rem;
  
      li {
        cursor: pointer;
        transition: color 0.3s;
        font-size: 20px;
        text-transform: uppercase;
  
        &:hover {
          color: #0e0c1b;
        }
      }
    }
  }
  
  .content {
    display: flex;
    width: 60%;
    min-height: 60vh;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   
  
    h2 {
      margin-bottom: 1rem;
      font-size: 2rem;
    }
  
    p {
      font-size: 1.2rem;
      line-height: 1.5;
      color: #666;
    }
  }
  
  .back-link {
    margin-top: 2rem;
    text-decoration: none;
    color: #4a90e2;
    font-weight: bold;
    transition: color 0.3s;
  
    &:hover {
      color: #0e0c1b;
    }
  }
  

  .embla {
    position: relative;
    overflow: hidden;
  }
  
  .carousell-wrapper {
    display: flex;
    overflow: hidden;
    position: relative;
    align-items: center;
    justify-content: center;
   
    
  }
  
  .carousell-container {
    display: flex;
    width: 50%;
  }
  
  .carousell-slide {
    width: 100%; 
  }
  
  .gallery-image {
    width: 500px; 
    height: 500px;
  }

  .gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: min-content;
    background-color: white;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  