.mainTextDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    text-align: center;
    height: min-content;
    width: 100%;

      h2{
        @media (max-width: 1024px) {
        font-size: 25px;
         font-weight: bold;
         line-height: normal;
         color: #191f2b;
          }
    
        @media (min-width: 1024px) {
        font-size: 28px;
        font-weight: bold;
        line-height: normal;
        color: #191f2b;
          }
      }

      p,il,ul{
        font-size: 17px;
        font-weight: normal;
        color: #313741;
        line-height: 1.6;
      }
}

.divtext-ikiakaryakit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: start;
    height: min-content;
    padding: 10px;
    width: 80%;
}