.whatsapp-container {
    position: fixed;
    bottom: 0.5rem; 
    left: 1.25rem;  
    right: 1.25rem; 
    z-index: 9998;  
    display: flex;
    align-items: center;       
    justify-content: space-between;      
  }
  
  @media (min-width: 768px) {
    .whatsapp-container {
      bottom: 1rem; 
    }
  }
  
  .whatsapp-button-container {
    position: absolute;
    bottom: 0.5rem;
    left: 0;
    height: 45px;      
    width: 45px;       
    display: flex;
    align-items: center;    
    justify-content: center;
    border-radius: 0.375rem; 
    z-index: 90;             
    background-color: #39A014;
    border-radius: 100%; 
    cursor: pointer;
  }
  
  .card-button-container {
    position: absolute;
    bottom: 4rem;   
    left: 0rem;   
    height: 45px;    
    width: 45px;      
    display: flex;
    align-items: center;    
    justify-content: center;
    border-radius: 0.375rem; 
    z-index: 90;
    background:#f3780b;
    border-radius: 100%; 
  }

  .basvur-button-container {
    border-radius: 70px;
    position: absolute;
    bottom: 1rem;   
    right: 1rem;   
    height: 60px;    
    width: 75px;      
    display: flex;
    align-items: center;    
    justify-content: center;
    z-index: 90;
    background:#27a31b;
    color:#fff;

    span{
      color:#fff;
      text-transform: uppercase;
      font-size: 11px;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
  
  @media (min-width: 768px) {
    .phone-button-container {
      display: none; 
    }
  }
  
  .whatsapp-icon, .phone-icon {
    color: white; 
    cursor: pointer;
  }

  .ecenin-butonu {
    display: flex;
    background: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
  }
  